<!DOCTYpE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insightify.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/chat-box.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Insightify.MVC.styles.css" asp-append-version="true" />
    <link href="~/css/crypto.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/news.css" rel="stylesheet" />
    <link href="~/css/create-post.css" rel="stylesheet" />
</head>
<body>
    <partial name="_NavbarPartialView"/>
    <partial name="_ChatPartialView" />
    <div class="page" id="page">
        <partial name="_HeaderPartialView" />
        <partial name="_ProfileMenuPartialView" />
        <partial name="_NotificationsPartialView" />
        <div class="container-main">
            <main id="main" role="main" class="pb-3">
                @RenderBody()
                <script src="https://kit.fontawesome.com/1f167bd3a1.js" crossorigin="anonymous"></script>
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/layout/headerscroll.js"></script>
    <script src="~/js/layout/layoutactions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@3.6.1/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/charts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
