<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insightify.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Insightify.MVC.styles.css" asp-append-version="true" />
    <link href="~/css/crypto.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar" id="navbar">
        <nav class="space-between">
            <a class="btn-hide" id="navbar-hide"><i class="fade fa-bars"></i></a>
            <section>
                <h5 class="nav-title">Main</h5>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2">
                        <span class="oi fa-solid fa-gauge" aria-hidden="true"></span> Dashboard
                    </a>
                </div>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2" href="#">
                        <span class="oi fa-solid fa-user-group" aria-hidden="true"></span> Friends
                    </a>
                </div>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2">
                        <span class="oi fa-solid fa-newspaper" aria-hidden="true"></span> News
                    </a>
                </div>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2" href="#">
                        <span class="oi fa-solid fa-chart-simple" aria-hidden="true"></span> Crypto Wave
                    </a>
                </div>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2" href="#">
                        <span class="oi fa-solid fa-wallet" aria-hidden="true"></span> Wallet
                    </a>
                </div>

                <!-- Direct messages -->
                <h5 class="nav-title">Direct Messages</h5>
                <div class="nav-item px-3">
                    <a style="text-decoration: none;" class="direct-message-item" href="#">
                        <span class="profile-picture">
                            <img class="profile-picture-image" src="~/images/navbar/patrik.png" alt="pfp">
                            <span class="activity-status"><img class="status-image" src="~/images/navbar/green.png" alt="sts"></span>
                        </span>
                        <div class="message-content">
                            <p class="message-element">
                                Patrik
                            </p>
                        </div>
                    </a>
                    <a style="text-decoration: none;" class="direct-message-item" href="#">
                        <span class="profile-picture">
                            <img class="profile-picture-image" src="~/images/navbar/bob.jpeg" alt="pfp">
                            <span class="activity-status"><img class="status-image" src="~/images/navbar/green.png" alt="sts"></span>
                        </span>
                        <div class="message-content">
                            <p class="message-element">
                                Bob
                            </p>
                        </div>
                    </a>
                    <a style="text-decoration: none;" class="direct-message-item" href="#">
                        <span class="profile-picture">
                            <img class="profile-picture-image" src="~/images/navbar/squid.jpg" alt="pfp">
                            <span class="activity-status"><img class="status-image" src="~/images/navbar/green.png" alt="sts"></span>
                        </span>
                        <div class="message-content">
                            <p class="message-element">
                                Squid
                            </p>
                        </div>
                    </a>
                </div>
                <a class="show-all-btn">Show all</a>
            </section>
            <section>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2">
                        <span class="oi fa-solid fa-circle-question" aria-hidden="true"></span> Ask Insighty
                    </a>
                </div>
                <div class="nav-item px-1 hover">
                    <a class="nav-link fs-6 px-2">
                        <span class="oi fa-solid fa-gear" aria-hidden="true"></span> Settings
                    </a>
                </div>
            </section>
        </nav>
    </div>
    <div class="page" id="page">
        <header class="header">
            <a class="navbar-brand" id="navbar-action"><i class="fa fa-bars"></i></a>
            <div class="justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="container-main">
            <main role="main" class="pb-3">
                @RenderBody()
                <script src="https://kit.fontawesome.com/1f167bd3a1.js" crossorigin="anonymous"></script>
            </main>
        </div>
    </div>
    <script>
        var btnshow = document.getElementById('navbar-show');
        var btnhide = document.getElementById('navbar-hide');
        var navbar = document.getElementById('navbar');
        var page = document.getElementById('page');

        btnshow.addEventListener('click', function () {
            navbar.style.display = 'block';
            navbar.style.position = 'fixed';
            navbar.style.zIndex = '200';
            page.style.filter = 'blur(2px)';
        });

        btnhide.addEventListener('click', function () {
            navbar.style.display = 'none';
            navbar.style.position = 'relative';
            navbar.style.zIndex = '200';
            page.style.filter = 'blur(2px)';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@3.6.1/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/charts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
