<div id="notifications-menu" class="pf-view-ctr d-flex justify-content-end align-items-start hidden">
    <div class="pf-view-pg d-flex justify-content-center align-items-center flex-column">
        <div class="circle-bg hidden" id="notifications-menu-hide">
            <a href="#" class="navbar-brand"><i class="fa fa-xmark"></i></a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h3>notification</h3>
            <h3>notification</h3>
            <h3>notification</h3>
            <h3>notification</h3>
        </div>
    </div>
</div>