.crypto-market-title-container {
    text-align: center;
    margin-bottom: 40px;
}

.crypto-market-title {
    color: #181818;
    font-size: 70px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 130px;
}

.table-div {
    width: 100%;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 10px;
}

/* Table Styles */
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}

.thead-item-container {
    border-radius: 10px;
    background-color: #ffffff;
}

.tr-item-head th {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: #979797;
    font-weight: 500;
    height: 50px;
    text-align: center;
}
.thead-item:hover{
    background-color: #F0F3FA;
}
.tr-item td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #757575;
}

/* First Column Styling */
.td-item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}
    .td-item:first-child a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
.td-item a:hover {
    color: #949494;
}
        .td-item:first-child a .table-item-img {
            margin-right: 15px;
        }
.thead-item th {
    text-align: center;
}
.tr-item:hover {
    background-color: #F0F3FA;
}
.table-item-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.green {
    color: #60e639 !important;
}
.red {
    color: #db4141!important;
}
.tr-item:hover {
    cursor: pointer;
}
.currency-id, .currency-name {
    margin: 0;
    font-size: 20px;
}

/* Last Column Styling */
.td-item:last-child {
    padding-right: 20px;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .td-item, .thead-item {
        display: block;
        width: 100%;
    }

    .td-item {
        text-align: center;
        padding: 10px 0;
    }
}
