.posts-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .posts-container .sections-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
    }

        .posts-container .sections-container .section-posts {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            .posts-container .sections-container .section-posts .post-container {
                display: flex;
                flex-direction: column;
                justify-content: start;
                max-height: 600px;
                width: 100%;
                overflow: hidden;
                margin: 10px;
                border-radius: 30px;
                transition: all 0.3s;
                padding: 30px;
                border-bottom: 1px solid #dddddd;
            }

                .posts-container .sections-container .section-posts .post-container:hover {
                    background-color: rgb(248, 247, 247);
                    cursor: pointer;
                    border-bottom: 1px solid rgb(248, 247, 247);
                }

                .posts-container .sections-container .section-posts .post-container .post-header {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 10%;
                }

                    .posts-container .sections-container .section-posts .post-container .post-header .post-header-info {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }

                        .posts-container .sections-container .section-posts .post-container .post-header .post-header-info .post-header-image {
                            display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        margin: 2px;
                        }

                            .posts-container .sections-container .section-posts .post-container .post-header .post-header-info .post-header-image .header-img-data {
                                width: 50px;
                                margin-right: 10px;
                                border-radius:50px;
                            }

                        .posts-container .sections-container .section-posts .post-container .post-header .post-header-info .post-header-hour {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                        }

                            .posts-container .sections-container .section-posts .post-container .post-header .post-header-info .post-header-hour strong {
                                margin: 5px;
                            }

                    .posts-container .sections-container .section-posts .post-container .post-header .post-header-buttons {
                        display: flex;
                        flex-direction: row;
                    }

                        .posts-container .sections-container .section-posts .post-container .post-header .post-header-buttons .follow-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            border-radius: 30px;
                            pad: 10px;
                            background-color: #C864F7;
                            color: white;
                            width: 120px;
                            height: 30px;
                            cursor: pointer;
                            margin: 2px;
                        }

                        .posts-container .sections-container .section-posts .post-container .post-header .post-header-buttons .report-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            border-radius: 30px;
                            pad: 10px;
                            background-color: #C864F7;
                            color: white;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            margin: 2px;
                        }

                .posts-container .sections-container .section-posts .post-container .post-content {
                    height: 100%;
                    overflow: hidden;
                }

                    .posts-container .sections-container .section-posts .post-container .post-content .content-title {
                        font-weight: 600;
                    }

                    .posts-container .sections-container .section-posts .post-container .post-content .content-text-container {
                        overflow: hidden;
                        color: #808080;
                        font-weight: 500;
                    }

                .posts-container .sections-container .section-posts .post-container .post-footer {
                    margin-top: 20px;
                    height: 10%;
                }

                    .posts-container .sections-container .section-posts .post-container .post-footer .footer-buttons {
                        display: flex;
                        flex-direction: row;
                    }

                        .posts-container .sections-container .section-posts .post-container .post-footer .footer-buttons .footer-btn-action {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            border-radius: 30px;
                            pad: 10px;
                            color: white;
                            width: 70px;
                            height: 30px;
                            cursor: pointer;
                            margin: 2px;
                            color: #808080;
                            transition: all 0.3s;
                        }
                        .posts-container .sections-container .section-posts .post-container .post-footer .footer-buttons .footer-btn-action:hover {
                            color: #C864F7;
                        }

            .posts-container .sections-container .section-posts .under-post-line {
                border-top: 2px solid black;
            }

        .posts-container .sections-container .section-voices {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            .posts-container .sections-container .section-voices .voices-container {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid #dddddd;
                border-radius: 25px;
                padding: 25px;
            }

                .posts-container .sections-container .section-voices .voices-container .voices-title {
                    font-size: 20px;
                }

                .posts-container .sections-container .section-voices .voices-container .account-element {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #dddddd;
                }
                .posts-container .sections-container .section-voices .voices-container .account-element:last-of-type{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }

                    .posts-container .sections-container .section-voices .voices-container .account-element .account-footer-img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 4px;
                    }

                    .posts-container .sections-container .section-voices .voices-container .account-element .image-element-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }

                        .posts-container .sections-container .section-voices .voices-container .account-element .image-element-content .image-element-content-title {
                            font-size: 18px;
                        }

                        .posts-container .sections-container .section-voices .voices-container .account-element .image-element-content .image-element-content-content {
                            font-size: 18px;
                        }

@media(max-width:1500px){
    .posts-container .sections-container {
        flex-direction: column-reverse;
    }

    .posts-container .sections-container .section-posts {
        width: 100%;
    }
    .posts-container .sections-container .section-voices {
        width: 100%;
    }
    .posts-container .sections-container .section-voices .voices-container{
        width: 100%;
        max-width: none;
        background-color: transparent;
    }
    .posts-container .sections-container .section-voices .voices-container .account-element{
        border-bottom: 1px solid #dddddd;
        padding-bottom: 10px;
    }
}