.news-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.news-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

    .news-title h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

.news-title {
    font-size: 20px;
    margin: 5px 0 10px;
    font-weight: bold;
    color: #5e5e5e;
}

.news-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news-item {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    width: 270px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}

    .news-item:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.news-image-container img {
    width: 100%;
    height: auto;
}

.news-item-content {
    padding: 15px;
}

.news-meta {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
}

.news-description {
    font-size: 16px;
    color: #8d8d8d;
    height: 140px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .news-items-container {
        grid-template-columns: 1fr;
    }
}

.trending-news-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}

.main-news, .secondary-news-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    margin-right: 1px;
}

.first-part {
    display: flex;
    flex-direction: column;
    height: 60%;
    margin-bottom: 1px;
}

.second-part {
    display: flex;
    flex-direction: row;
    height: 40%;
    max-height: 171px;
}

.first-divider, .second-divider {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 1px;
}

.image-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        /*! max-height: 171px; */
    }

.main-news .text-container {
    bottom: 3%;
}

.first-part .text-container {
    bottom: 43%;
}

.first-divider .text-container {
    bottom: 3%;
}

.second-divider .text-container {
    bottom: 3%;
}

.text-container {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
}

.main-news:hover .text-container {
    background-color: rgba(95, 95, 95, 0.534);
}

.first-part:hover .text-container {
    background-color: rgba(95, 95, 95, 0.534);
}

.first-divider:hover .text-container {
    background-color: rgba(95, 95, 95, 0.534);
}

.second-divider:hover .text-container {
    background-color: rgba(95, 95, 95, 0.534);
}

.text-container:hover {
    background-color: rgba(95, 95, 95, 0.534);
}


.date-txt {
    font-size: 15px;
    color: white;
    margin: 0;
}

.title-txt {
    font-size: 30px;
    color: white;
    margin: 0;
}

.source-txt {
    font-size: 17px;
    color: white;
    margin: 0;
}

@media (max-width: 768px) {
    .trending-news-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .main-news {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .secondary-news-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-part {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .second-part {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-divider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .second-divider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
