html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    background-color: #ececec;
    color: #D1D5DB;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    padding-left: 50px;
    position: fixed;
    z-index: 1;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    border: 1px solid #d9d9e3;
    height: 70px;
}