body {
}
.auth-menu {
	display: flex;
	flex-direction: column;
	justify-content: start;
	overflow-y: visible;
	height: 100%;
}
.account-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 3px 3px;
	gap: 6px;
	border-radius: 18px;
	text-decoration: none;
	color: black;
}
	.account-menu:hover {
		background-color: #ecdff5;
		color: #ad5adc;
	}
		.account-menu:hover .dropdown-btn i {
			color: #ad5adc !important;
		}

	
.account-menu .profile-picture {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 5px;
}
.account-menu .username {
	margin: 0;
}
	.account-menu .dropdown-btn {
		background: none;
		border: none;
		padding: 6px;
	}

.dropdown {
	z-index: 9999;
	width: 100%;
	height: 100%;
	margin: auto;
}
	.dropdown .dropdown-content {
		background-color: #ecdff5;
		display: flex;
		border-radius: 12px;
		flex-direction: column;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3px;
		padding: 6px;
	}
		.dropdown .dropdown-content a {
			text-decoration: none;
			color: black;
			background-color: white;
			border-radius: 12px;
			text-align: center;
			width: 100%;
		}
			.dropdown .dropdown-content a:hover {
				background-color: #ecdff5;
				color: #ad5adc;
			}