.page {
    background-color: #f3f2f7;
    font-family: 'Poppins', sans-serif;
}

.top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
    .top-row .top-row-left {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 3px;
	    align-items: center;
	    overflow-y: visible;
	    height: 100%;
    }
    .top-row .top-row-left .top-row-item {
        height: 100%;
        font-size: 22px;
	    color: black;
	    padding: 6px 12px;
	    border-radius: 12px;
	    display: flex;
	    align-items: center;
	    text-decoration: none;
    }
        .top-row .top-row-left .top-row-item:hover {
	        background-color: #ecdff5;
	        color: #ad5adc;
        }
        .page {
		    position: relative;
		    display: flex;
		    flex-direction: column;
		}

.top-row-left {
    margin: 0;
    width: 300px;
    border-radius: 25px;
}

article {
    padding: 32px 72px;
}

main {
    flex: 1;
    font-family: 'Poppins', sans-serif;
	height: 100%;
}

.sidebar {
    background-color: #f8f7fa;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    position: sticky;
	width: 256px;
	height: 100%;
}

.auth {
    background-color: #F8F7FA; /* This is just an example, replace with your color */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 5px; /* This makes the corners rounded. Remove if you want a perfect rectangle */
}

    .auth > * {
        margin-left: 10px; /* This adds some spacing between the elements */
    }


.h3-title {
    font-size: larger;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

	.sidebar {
		width: 250px;
		height: 99vh;
		position: sticky;
		top: 0;
	}
}
