@inject NavigationManager Navigation
<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Insightify</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass space-between" @onclick="ToggleNavMenu">
    <section>
        <h5 class="nav-title">Main</h5>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2">
                <span class="oi fa-solid fa-gauge" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2" href="#">
                <span class="oi fa-solid fa-user-group" aria-hidden="true"></span> Friends
            </NavLink>
        </div>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2" @onclick="NavigateToNewsComponent">
                <span class="oi fa-solid fa-newspaper" aria-hidden="true"></span> News
            </NavLink>
        </div>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2" href="#">
                <span class="oi fa-solid fa-chart-simple" aria-hidden="true"></span> Crypto Wave
            </NavLink>
        </div>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2" href="#">
                <span class="oi fa-solid fa-wallet" aria-hidden="true"></span> Wallet
            </NavLink>
        </div>

        <!-- Direct messages -->
        <h5 class="nav-title">Direct Messages</h5>
        <div class="nav-item px-3">
            <NavLink style="text-decoration: none;" class="direct-message-item" href="#">
                <span class="profile-picture">
                    <img class="profile-picture-image" src="/images/patrik.png" alt="pfp">
                    <span class="activity-status"><img class="status-image" src="/images/green.png" alt="sts"></span>
                </span>
                <div class="message-content">
                    <p class="message-element">
                        Patrik
                    </p>
                </div>
            </NavLink>
            <NavLink style="text-decoration: none;" class="direct-message-item" href="#">
                <span class="profile-picture">
                    <img class="profile-picture-image" src="/images/bob.jpeg" alt="pfp">
                    <span class="activity-status"><img class="status-image" src="/images/green.png" alt="sts"></span>
                </span>
                <div class="message-content">
                    <p class="message-element">
                        Bob
                    </p>
                </div>
            </NavLink>
            <NavLink style="text-decoration: none;" class="direct-message-item" href="#">
                <span class="profile-picture">
                    <img class="profile-picture-image" src="/images/squid.jpg" alt="pfp">
                    <span class="activity-status"><img class="status-image" src="/images/green.png" alt="sts"></span>
                </span>
                <div class="message-content">
                    <p class="message-element">
                        Squid
                    </p>
                </div>
            </NavLink>
        </div>
        <div class="container d-flex flex-row justify-content-start p-3">
            <span class="d-block w-25 view-all-btn">View all</span>
        </div>
    </section>
    <section>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2">
                <span class="oi fa-solid fa-circle-question" aria-hidden="true"></span> Ask Insighty
            </NavLink>
        </div>
        <div class="nav-item px-1 hover">
            <NavLink class="nav-link fs-6 px-2">
                <span class="oi fa-solid fa-gear" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </section>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showProfileMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleProfileMenu()
    {
        showProfileMenu = !showProfileMenu;
    }
    private void NavigateToNewsComponent()
    {
        Navigation.NavigateTo("news");
    }
}
