@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<p>
    @state.User.Identity.IsAuthenticated
</p>
@foreach (var item in state.User.Claims)
{
    <p>@item.Issuer</p>
    <p>@item.Value</p>
    <p>@item.Properties.FirstOrDefault()</p>
}

@code {
    AuthenticationState state;

    protected override async Task OnInitializedAsync()
    {
        state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}