
<div class="main-content">
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image d-flex justify-content-center align-items-center align-text-center">
                                <input type="file" id="input-image" />
                                <img style="width: 215px;" src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading">22</span>
                                        <span class="description">Friends</span>
                                    </div>
                                    <div>
                                        <span class="heading">10</span>
                                        <span class="description">Photos</span>
                                    </div>
                                    <div>
                                        <span class="heading">89</span>
                                        <span class="description">Comments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                Jessica Jones<span class="font-weight-light">, 27</span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>Bucharest, Romania
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                            </div>
                            <div>
                                <i class="ni education_hat mr-2"></i>University of Computer Science
                            </div>
                            <hr class="my-4">
                            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                            <a href="#">Show more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div>
                    <div class="card">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-username">Username</label>
                                                <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email address</label>
                                                <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="editProfile">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div>
                                    <label>Posts</label>
                                    <section class="section-posts" id="postContainer">
                                        <div class="post-container">
                                            <header class="post-header">
                                                <div class="post-header-info">
                                                    <div class="post-header-image">
                                                        <img class="header-img-data" src="~/images/navbar/shadow-boy-white-eyes-unique-cool-pfp-nft-13yuypusuweug9xn.jpg" />
                                                        <h1 class="header-img-text">David Petkov</h1>
                                                    </div>
                                                    <div class="post-header-hour">
                                                        <h1><strong>‧</strong></h1>
                                                        <h1 class="headerhour-text">2 hr. ago</h1>
                                                    </div>
                                                </div>
                                                <div class="post-header-buttons">
                                                    <a class="follow-btn">Follow</a>
                                                    <a class="report-btn"><i class="fa fa-flag"></i></a>
                                                </div>
                                            </header>
                                            <div class="post-content">
                                                <div class="post-content-bg"></div>
                                                <h1 class="content-title">post.Title</h1>
                                                <p class="content-text-container">
                                                    post.Description
                                                </p>
                                            </div>
                                            <div class="post-footer">
                                                <div class="footer-buttons">
                                                    <a class="footer-btn-action" href="#"><i class="fa fa-heart"></i>100</a>
                                                    <a class="footer-btn-action" href="#"><i class="fa fa-comment"></i>120</a>
                                                    <a class="footer-btn-action" href="#"><i class="fa fa-share"></i>Share</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="under-post-line"></div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#editProfile').on('click', function (event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append('Username', $('#input-username').val());
            formData.append('Email', $('#input-email').val());

            var imageFile = $('#input-image')[0].files[0];
            if (imageFile) {
                formData.append('image', imageFile);
            }

            $.ajax({
                url: '/Account/EditProfile',
                type: 'PUT',
                data: formData,
                processData: false, 
                contentType: false, 
                success: function (response) {
                    // Handle success
                    console.log('Success:', response);
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>