.page {
	background-color: #f3f2f7;
}


.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
article {
	padding: 32px 72px;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #f8f7fa;
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
	margin: 16px;
	border-radius: 24px;
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

}
