.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.nav-title {
    color: white;
    padding: 10%;
}

.nav-link {
    color: white;
}

.profile-picture {
    position: relative;
    display: inline-block;
}

.profile-picture-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.activity-status {
    position: absolute;
    bottom: 0;
    top: 25%;
    right: 0;
}

.status-image {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

message-content {
    height: inherit;
    width: 160px;
}

.message-content .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-sender, .message-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-content.active {
    color: white;
    font-weight: 600;
}
.direct-message-item {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.view-all-btn{
    color: gainsboro;
    padding:10%;
}

p{
    margin:0;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
