


.top-row {
    height: 3.5rem;
}

.navbar-brand {
	color: gray;
	font-style: italic;
    font-size: 18px;
	padding: 0;
	margin: auto;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    top: -3px;
    color: #bec1c3;
}

.nav-item {
    padding-bottom: 0.5rem;
	color: black;

}

    .nav-item:first-of-type {
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #2b263b;
	    font-weight: 400;
        border-radius: 16px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }



    .nav-item ::deep a:hover {
        background-color: #ecdff5;
        color: #ad5adc;
    }
    .nav-item ::deep a:hover .oi {
        color: #ad5adc;
    }
.nav-title {
    color: gray;
	font-size: 13px;
	font-weight: 600;
	padding: 24px 16px 4px 16px;
}

.oi {
	text-align: center;
	margin-right: 6px;
}

.profile-picture {
    position: relative;
    display: inline-block;
}

.profile-picture-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.activity-status {
    position: absolute;
    bottom: 0;
    top: 25%;
    right: 0;
}

.status-image {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.message-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-content: center;
}

p {
	margin: 0;
}

.message-element {
	margin-left: 12px;
	font-size: 16px;
}

.view-all-btn {
	color: gray;
	font-size: 13px;
	font-weight: 600;
}

.navbar-toggler {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    background: none;
    height: 38px;
    font-size: 16px;
	color: #ad5adc;
}

    .navbar-toggler:hover {
        background-color: rgba(255,255,255,0.1);
	    color: #ad5adc;
    }
@media (min-width: 641px) {
	.navbar-toggler {
		display: none;
	}
	.collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
