<form asp-action="" asp-controller="">
    <input type="text" placeholder="Title" asp-for="" />
    <input type="text" placeholder="Description" asp-for="" />
    <input type="text" placeholder="ImageUrl" asp-for="" />
</form>