@using Insightify.Framework.Pagination;
@using Insightify.Web.Gateway.Models.FinancialData;
@model Page<CryptoCurrencyModel>

@{
    foreach (var item in Model)
    {
        <h1>@item.Name</h1>
        <h1>@item.Description</h1>
        <h1>@item.Localization.En</h1>
        <img src="@item.Image.Large" alt="image"/>
    }
}