<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insightify.IdentityAPI</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Insightify.IdentityAPI.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300;700&display=swap" rel="stylesheet">
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body>
    <div class="container-main">
        <main role="main">
            @if (TempData["StatusMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show">
                    @TempData["StatusMessage"]
                            
                </div>
            }
            @if (TempData["StatusMessageDanger"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show">
                    @TempData["StatusMessageDanger"]
                            
                </div>
            }
            @RenderBody()
            <script src="https://kit.fontawesome.com/1f167bd3a1.js" crossorigin="anonymous"></script>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
