<div class="posts-container">
    <div class="sections-container">
        <section class="section-posts">
            @{
                for (int i = 0; i < 30; i++)
                {
                    <div class="post-container">
                        <header class="post-header">
                            <div class="post-header-info">
                                <div class="post-header-image">
                                    <img class="header-img-data" src="~/images/navbar/green.png" />
                                    <h1 class="header-img-text">r/bulgaria</h1>
                                </div>
                                <div class="post-header-hour">
                                    <h1><strong>‧</strong></h1>
                                    <h1 class="headerhour-text">2 hr. ago</h1>
                                </div>
                            </div>
                            <div class="post-header-buttons">
                                <a class="follow-btn">Follow</a>
                                <a class="report-btn"><i class="fa fa-flag"></i></a>
                            </div>
                        </header>
                        <div class="post-content">
                            <div class="post-content-bg"></div>
                            <h1 class="content-title">Изтърваните шансове да станете богати. </h1>
                            <p class="content-text-container">
                                Това е тема за всеки запален на тема инвестиране и спекулиране. Като начинаещ инвеститор и тррейдър от вече 9 години, любимото ми хоби е да си създавам "Какво ако..." сценарии в главата си и да ги backtest-вам. Два от тези сценарии, сравнително възможни сценарии, щяха да са ме направили млад милионер. Ето ги и тях:

                                Годината е 2010-2011, аз ученик си стоя в квартирата и цъкам из Фейсбук. Още тогава ми бяха интересни различните начини за спекулиране на фондовата борса и се интерресувах от начини за правене на кинти. Попадам на пост на свой съученик, водещ до статия за нещо ново, наречено Биткойн... вече знаете каква е ситуацията.

                                Защо не купих Биткойн тогава: след тези статия се замислих и заключих, че няма как Биткойн да измести долара като валута. Самата концепция не е удобна за използване като валута. Реших че може да опитам с копане, но и от това се разубедих.

                                Щях ли да стана милионер: Да, ако бях купил с всичките си спестени 200 лева и бях държал до върхът му, когато беше в десетките хиляди. Тоест, малко вероятно предвид, че не вярвах в концепцията и колко е възможно да бъде релевантен финансов инструмент. Е сега аз съм с пръст в устата, глупавата концепция създаде доста богаташи, а мен мее спъна икономическото ми образование. Към Биткойн може да добавим и останалите големи криптовалути, тъй като доста време следях отблизо как се развиват нещата.

                                2. Годината е 2020, месец септември. Аз си кисна в офиса, безделнича - бях приключил с всички задължения за деня, и чета статии на тема финанси. Попадам на една, чието ми грабва вниманието. "Защо Майкъл Бъри купува Gamestop?". Мисля, че няма смисъл да ви обяснявам къде ми е грешката.

                                Защо не купих: Прескочих статията, фен съм на Бъри, смятам че е умен, но не сметнах за нужно да я чета. Знаех, че Gamestop е с умиращ бизнес модел, но не знаех че страртегията на Бъри се е променила от времето му на Големия залог. Тогава той инвестира сравнително дългосрочно, а аз нямах желание да чакам няколко години за payout от спекулативна компания.

                                Щях ли да стана милионер: И още как. Тук шанса е доста по-голям. Вече знаех как работят повечето финансови инструменти, включително опциите и бях много добре започнат, какво е gamma short squeeze. Предвид тенденцията на хората към confirmation bias щях и да попадна на един определен събредит.

                                Имам и още два случая, в които съм пропуснал 13-та и 14-та заплата. Тесла - не купих защото не харесвам Мъск и бизнемоделът на компания не смятах за устойчив, и Нвидиа - нямах пари миналата есен, бях дал заем и събирах за една екскурзия.

                                Благодаря, че бяхте на моя ТедТолк. Свободни сте да критикувате ил ида споделите своите пропсунати шансове.
                            </p>
                        </div>
                        <div class="post-footer">
                            <div class="footer-buttons">
                                <a class="footer-btn-action" href="#"><i class="fa fa-heart"></i> 125</a>
                                <a class="footer-btn-action" href="#"><i class="fa fa-comment"></i> 24</a>
                                <a class="footer-btn-action" href="#"><i class="fa fa-share"></i> Share</a>
                            </div>
                        </div>
                    </div>
                    <div class="under-post-line"></div>
                }
            }
        </section>
        <section class="section-voices">
            <div class="voices-container">
                <h1 class="voices-title">Popular voices</h1>
                @{
                    for (int i = 0; i < 6; i++)
                    {
                        <div class="account-element">
                            <img class="account-footer-img" src="~/images/navbar/squid.jpg" />
                            <div class="image-element-content">
                                <h1 class="image-element-content-title">r/Twitch</h1>
                                <h2 class="image-element-content-content">1,209,283 followers</h2>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
    </div>
</div>