@page "/crypto"
<section class="top">
    <div class="info">
        <img class="image" src="/images/bitcoin.png" />
        <div class="basic-info">
            <h1 class="name">BitCoin</h1>
            <h2 class="price">26000 USD</h2>
        </div>
    </div>
    <div class="data">
        <p class="market-cap">507212634614.3793</p>
        <p class="24h-vol">7866014689.824344</p>
        <p class="24h-change">-0.14</p>
    </div>
</section>
<section class="chart">
</section>
<section class="news">
</section>
<section class="posts">
</section>

@code {

}
