.top {
	background-color:white;
	width:100%;
	padding: 24px;
	display: flex;
	flex-direction: row;
	height: 240px;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
}
	.top .info {
		height: 100%;
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 24px;
	}
	.top .info .basic-info {

	}
	.top .info .basic-info .name {
			
	}
	.top .info .basic-info .price {
		font-size: 24px;
	}
		
	.top .info .image {
		display: block;
		height: 156px;
		width: 156px;
	}