@page "/crypto"
<section class="top">
    <div class="info">
        <img class="image" src="/images/bitcoin.png"/>
        <div class="basic-info">
            <h1 class="name">BitCoin</h1>
            <h2 class="price">26000 USD</h2>
        </div>
    </div>
    <div class="data">
        <div class="market-cap">
            <p class="name">Market Cap</p>
            <p class="value">507212634614.3793</p>
        </div>
        <div class="day-vol">
            <p class="name">24h Volume</p>
            <p class="value">7866014689.824344</p>
        </div>
        <div class="day-change">
            <p class="name">24h Change</p>

            <p class="value">-0.14</p>
        </div>
    </div>
</section>
<section class="chart">
</section>
<section class="news">
</section>
<section class="posts">
</section>

@code {

}
