div .flexbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.single-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
}

.crypto-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    border-radius: 30px;
    background: linear-gradient(90deg, hsla(207, 100%, 57%, 1) 0%, hsla(193, 98%, 52%, 1) 100%);
    border: none;
    transition: ease;
    transition-duration: 1s;
    box-shadow: 0px 44px 74px -54px #56D0FC;
}

    .crypto-card .top-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        padding: 25px;
    }

.top-area button {
    border: none;
    height: 30px;
    color:beige;
    border-radius: 20%;
    background-color: transparent;
}
.top-area button:hover {
    color: white;
}

.top-area .image-container {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .25);
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.image-container img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.crypto-card .bottom-area {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 25px;
}

.bottom-area .price-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-area h4{
    width: 50%;
}

.bottom-area h7 {
    width: 50%;
    text-align:end;
}

.chart-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}

.price-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    border: none;
}

.price-card {
    height: 60%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.change-card {
    height: 40%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.market-cards {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
}

.status-card {
    height: 60%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.analytics-card {
    height: 40%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.card {
    padding: 15px;
    margin: 20px;
}

@media(max-width: 641px){
    .card {
        padding: 0px;
        margin: 5px;
    }
    .flexbox{
        height: max-content;
    }
    .single-cards {
        height: max-content;
        flex-direction: column;
    }
    .crypto-card {
        width: inherit;
        height: 200px;
        padding: 5px;
    }
    .bottom-area .price-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bottom-area h4{
        width: 50%;
        font-size: 16px;
    }
    .bottom-area h7 {
        width: 50%;
        text-align:end;
        font-size: 14px;
    }
    .chart-cards{
        flex-direction: column;
        height: max-content;
    }
    .price-cards {
        width: 100%;
    }
    
    .price-card {
        height: 60%;
        border-radius: 30px;
        background-color: #F8F7FA;
        box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
        border: none;
    }
    
    .change-card {
        height: 40%;
        border-radius: 30px;
        background-color: #F8F7FA;
        box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
        border: none;
    }
    
    .market-cards {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}