div .flexbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.single-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
}

.crypto-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    border-radius: 30px;
    background: linear-gradient(90deg, hsla(207, 100%, 57%, 1) 0%, hsla(193, 98%, 52%, 1) 100%);
    border: none;
    transition: ease;
    transition-duration: 1s;
    box-shadow: 0px 44px 74px -54px #56D0FC;
}

    .crypto-card .top-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        padding: 25px;
    }

.top-area button {
    border: none;
    background-color: orange;
}

.top-area .image-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.image-container img {
    width: 30px;
    height: 30px;
}

.crypto-card .bottom-area {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 25px;
}

.bottom-area .price-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-area h4{
    width: 50%;
}

.bottom-area h7 {
    width: 50%;
}

.chart-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}

.price-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    border: none;
}

.price-card {
    height: 60%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.change-card {
    height: 40%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.market-cards {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
}

.status-card {
    height: 60%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.analytics-card {
    height: 40%;
    border-radius: 30px;
    background-color: #F8F7FA;
    box-shadow: 0px 0px 41px 0px rgba(191,191,191,1);
    border: none;
}

.card {
    padding: 15px;
    margin: 20px;
}
